# Default owners for everything
* @OpenMind/core-developer-team

# OM Code Reviewer Rules
*.mdx @OpenMind/devrel-team @OpenMind/openmind-core
*.md @OpenMind/devrel-team @OpenMind/openmind-core
/docs/ @OpenMind/devrel-team @OpenMind/openmind-core
/config/ @OpenMind/core-developer-team @OpenMind/openmind-core
/cmd/ @OpenMind/core-developer-team @OpenMind/openmind-core
/internal/ @OpenMind/core-developer-team @OpenMind/openmind-core
/plugins/ @OpenMind/robotics-team @OpenMind/openmind-core
/.github/ @OpenMind/openmind-core
