# Build artifacts
build/

# IDE
.vscode/

# Claude Code
CLAUDE.md
.claude/

# Mac specific lint
.DS_Store

# AI models
*.pt

# Logs
logs/

# Data files
*.jsonl
*.jpg
/locations
/traces

# Mode system state files
config/memory
config/.runtime.json5
config/cron_job/

# Zenoh
.zenoh-c/

# Test
coverage.out
