# -----------------------------
# Python
# -----------------------------
__pycache__/
*.py[oc]
build/
dist/
wheels/
*.egg-info
.ruff_cache/
.pytest_cache/

# -----------------------------
# Virtual Environments
# -----------------------------
.venv/
env/
venv/
*.lock

# -----------------------------
# Environment & Config
# -----------------------------
.env
config/iris_ai.json
config/memory
config/.runtime.json5

# -----------------------------
# IDE / Editors
# -----------------------------
.vscode/
.idea/

# -----------------------------
# OS Specific
# -----------------------------
.DS_Store
Thumbs.db

# -----------------------------
# Logs / Debug / Temporary
# -----------------------------
logs/
front_image.jpg
turtlebot4_debug.jpg
turtlebot.jpg
*.log
launch.sh

# -----------------------------
# Data / Artifacts
# -----------------------------
*.jsonl
*.pt
*.jpg
/zenohdb
/locations

# -----------------------------
# Distribution / Packaging
# -----------------------------
*.tar.gz
*.zip
*.whl
*.egg
MANIFEST
