# This variable is required if you are using the Ethereum wallet integration.
ETH_ADDRESS=

# These variables are required if you are using the Coinbase wallet integration.
COINBASE_WALLET_ID=
COINBASE_API_KEY=
COINBASE_API_SECRET=

# Backup provision of api key and URID if you do not want to modify the config file
OM_API_KEY=om1_live_c9ca45b2a1eb7ff3368f240bf02c434bc56df638b6dcb8b517bef1493e10ad0f086b78c272f41d7e
URID=